<form *ngIf="form" [formGroup]="form">
  <section>
    <h6>
      General Style
    </h6>

    <mat-form-field>
      <mat-label>
        Highlight Color
      </mat-label>
      <input matInput type="text" placeholder="#3f51b5" formControlName="highlightColor">
    </mat-form-field>

  </section>

  <section>
    <h6>
      Headline Style
    </h6>

    <mat-form-field>
      <mat-label>
        Font Color
      </mat-label>
      <input matInput type="text" placeholder="#666666" formControlName="headlineColor">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Type
      </mat-label>
      <mat-select formControlName="headlineFontType">
        <mat-option value="Source Sans Pro">
          Source Sans Pro
        </mat-option>
        <mat-option value="Roboto">
          Roboto
        </mat-option>
        <mat-option value="Arial">
          Arial
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Weight
      </mat-label>
      <mat-select formControlName="headlineFontWeight">
        <mat-option value="600">
          Bold
        </mat-option>
        <mat-option value="400">
          Normal
        </mat-option>
        <mat-option value="200">
          Thin
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Size
      </mat-label>
      <input matInput type="text" placeholder="1em" formControlName="headlineFontSize">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Underline Style
      </mat-label>
      <mat-select formControlName="headlineBorderType">
        <mat-option value="none">
          None
        </mat-option>
        <mat-option value="dashed">
          Dashed
        </mat-option>
        <mat-option value="dotted">
          Dotted
        </mat-option>
      </mat-select>
    </mat-form-field>

  </section>

  <section>
    <h6>
      Text Styling
    </h6>

    <mat-form-field>
      <mat-label>
        Font Color
      </mat-label>
      <input matInput type="text" placeholder="#666666" formControlName="textColor">
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Type
      </mat-label>
      <mat-select formControlName="textFontType">
        <mat-option value="Source Sans Pro">
          Source Sans Pro
        </mat-option>
        <mat-option value="Roboto">
          Roboto
        </mat-option>
        <mat-option value="Arial">
          Arial
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Weight
      </mat-label>
      <mat-select formControlName="textFontWeight">
        <mat-option value="600">
          Bold
        </mat-option>
        <mat-option value="400">
          Normal
        </mat-option>
        <mat-option value="200">
          Thin
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Font-Size
      </mat-label>
      <input matInput type="text" placeholder="1" formControlName="textFontSize">
    </mat-form-field>

  </section>

  <button mat-button color="primary" type="button" (click)="onReset()">Reset</button>
</form>
