:host {
  display: block;
  border: 1px dashed transparent;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: #ccc;
  }
}


ul {
  padding-left: 20px;
}

ul li.timespan {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: brown solid 1px;

  padding: .2em 1em;
  list-style: none;

  h5 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -5px;

    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: brown;
  }
}
