:host {
  display: block;
  border: 1px dashed transparent;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: #ccc;
  }
}

h4 {
  font-family: var(--headlineFontType);
  font-size: var(--headlineFontSize);
  color: var(--headlineColor);
  border-bottom: 2px var(--headlineBorderType) var(--headlineColor);
}

p,
.text {
  font-family: var(--textFontType);
  font-size: var(--textFontSize);
  color: var(--textColor);
}

ul {
  padding-left: 20px;
}

$bubbleSize: 8px;

ul li.timespan {
  position: relative;
  display: flex;
  flex-direction: column;
  border-left: 2px solid var(--highlightColor);

  padding: .2em 1em;
  list-style: none;

  h5 {
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: $bubbleSize;
    left: -(($bubbleSize / 2) + 1);

    width: $bubbleSize;
    height: $bubbleSize;
    border-radius: 50%;
    background-color: var(--highlightColor);
  }
}
