:host {
  position: relative;

  display: flex;
  flex: 0 1 auto;
  width: 100%;
  min-height: 36px;

  border: 1px dashed transparent;
}

:host:focus,
:host:hover,
:host.active {
  border-color: #ccc;
}

:host.row {
  flex-direction: row;
}

:host.column {
  flex-direction: column;
}

.actions {
  margin: auto;
}
