<mat-toolbar color="primary" class="toolbar">
  <span>CV Pimp</span>

  <div class="actions">

    <button mat-icon-button (click)="sidebarOpen = !sidebarOpen" matTooltip="Appearance Options">
      <mat-icon>palette</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="importExportMenu" matTooltip="Import/Export Data">
      <mat-icon>import_export</mat-icon>
    </button>

    <mat-menu #importExportMenu="matMenu">
      <button mat-menu-item (click)="fileupload.click()">
        <mat-icon>unarchive</mat-icon>
        Import Data
      </button>

      <button mat-menu-item (click)="onDownload()">
        <mat-icon>archive</mat-icon>
        Export Data
      </button>

      <button mat-menu-item (click)="onOpenTemplates()">
        <mat-icon>restore_page</mat-icon>
        Use Template
      </button>
    </mat-menu>

    <button mat-icon-button (click)="onPrint()" matTooltip="Print...">
      <mat-icon>print</mat-icon>
    </button>

  </div>
</mat-toolbar>

<mat-drawer-container class="container">

  <mat-drawer class="hidden-print" mode="side" position="end" [opened]="sidebarOpen">
    <app-theme-form>
    </app-theme-form>
  </mat-drawer>

  <mat-drawer-content class="wrapper">

    <div class="page" *ngIf="data">
      <app-container [data]="data.container"></app-container>
    </div>

    <button mat-fab color="primary" class="info" [matMenuTriggerFor]="menu">
      <mat-icon>info</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="true">
      <div class="info-pannel">
        <p>I hope this website will help you to get your dreamjob! Good Luck!</p>
        
        <p>Made with &hearts; by <a href="https://github.com/alexfriesen">Alex Friesen</a></p>
      </div>
    </mat-menu>

  </mat-drawer-content>

</mat-drawer-container>

<input class="hidden" #fileupload type="file" (change)="onUpload($event)">
