:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;

  height: 100%;

  background-color: #eeeeee;
}

.container {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex: 1;

  height: 100%;
  overflow: auto;
}

.page {
  --highlightColor: #3f51b5;

  --headlineColor: #666;
  --headlineFontSize: 1.6em;
  --headlineFontWeight: 600;
  --headlineFontType: "Source Sans Pro", "Roboto", "Arial", "Tahoma",
    "Century Gothic", "Lucida Sans";
  --headlineBorderType: dashed;

  --textColor: #666;
  --textFontSize: 1em;
  // --textFontWeight: 200;
  --textFontType: "Roboto", "Arial", "Tahoma", "Century Gothic", "Lucida Sans";

  display: flex;
  width: 80vw;
  max-width: 21cm;
  min-height: 29.7cm;
  padding: 0.7cm;
  margin: 2rem;
  background-color: #ffffff;
}

.toolbar {
  justify-content: space-between;
}

.info {
  position: fixed;
  bottom: 32px;
  left: 32px;
}

.info-pannel {
  padding: 4px 32px;
}

@media print {
  mat-toolbar {
    display: none;
  }

  :host {
    display: block;
  }

  .wrapper {
    display: block;
    overflow: visible;
  }

  .page {
    width: 100%;
    height: 100%;
    box-shadow: none;
    min-height: initial;
    padding: 0;
    margin: 0;
  }
}
