:host {
  display: block;
  border: 1px dashed transparent;
  border-radius: 4px;

  &:focus,
  &:hover {
    border-color: #ccc;
  }
}

h4 {
  font-family: var(--headlineFontType);
  font-weight: var(--headlineFontWeight);
  font-size: var(--headlineFontSize);
  color: var(--headlineColor);
  border-bottom: 2px var(--headlineBorderType) var(--headlineColor);
}

p {
  font-family: var(--textFontType);
  font-size: var(--textFontSize);
  color: var(--textColor);
}
